header, footer{
    font-family: sans-serif;
    background-color: rgb(64, 64, 64);
    color: aliceblue;
    text-align: center;
    height: 100px;
}
footer{
    line-height: 50px;
    height: 50px;
}
main{
    background-color: silver;
    border: 1px solid darkslategray;
    padding: 10px;
}
/* decendent selector */
main section{ 
    background-color: rgb(114, 114, 114);
    border: 1px solid transparent;
    padding: 10px;
    text-align: justify;
    margin: 10px;
    font-family: sans-serif;
}
/* 1 + 1 + 1= 3 */
body main h2{
    background-color: red;
    padding: 10px;
    color: aliceblue;
}
/* 11 */
h2.box{
    background-color: purple;
}